---
layout: default
title: Blogs
---

<div class="filters">
  <select id="category-filter">
    <option value="all">All Categories</option>
    {% for category in site.categories %}
      <option value="{{ category[0] | downcase }}">{{ category[0] | capitalize }}</option>
    {% endfor %}
  </select>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string: "ordinal", "US" }} | </span>
    <span class="post-category">{{ post.categories[0] }}</span>
    {{ post.excerpt }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Next</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Previous</a>
  {% else %}
    <span class="pagination-item older">Previous</span>
  {% endif %}
</div>
